/* Grid
---------------*/
header {
    display: grid;
    grid-area: header;
}

.cover-pic {
    display: grid;
    grid-area: picture;
    width: 80%;
    height: 20%;
}

main {
    display: grid;
    grid-area: main;
}

.items {
    display: grid;
    grid-area: items;
    margin: 0;

}

.sec-1 {
    display: grid;
    grid-area: sec-1;
}

.sec-2 {
    display: grid;
    grid-area: sec-2;
}

.article-pic {
    display: grid;
    grid-area: article-pic;
}

article {
    display: grid;
    grid-area: article;
}

footer {
    display: grid;
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "picture picture picture"
        "main items items"
        "main sec-1 sec-2"
        "article-pic article article"
        "footer footer footer";
    grid-gap: 0.5rem;
}

/* Header 
-------------------------*/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    width: 30%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul button {
    font-size: 2rem;
    padding: 10px;
}

ul li {
    font-size: 2rem;
    padding: 15px;
    margin-left: 5%;
}


/* Main 
-------------------------*/
* {
    box-sizing: border-box;
}

.cover-pic {
    margin: 0 auto;
}

.cover-pic img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: pink;
}

h1 {
    font-size: 3rem;
    height: 10%;

}

main p {
    font-size: 1.5rem;
    max-width: 80%;
}

#Order-button,
ul button {
    background: black;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 4rem;
}

#Order-button:hover,
ul button:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Pics & Content 
-------------------------*/
.items {
    display: flex;
    justify-content: space-evenly;
    background: white;
}

.items img {
    max-width: 32%;
    height: auto;
}

section {
    display: flex;
    background: lightblue;
}

section h3 {
    font-size: 1.8rem;
    max-width: 80%;
    justify-self: center;
}

section p {
    font-size: 1.5rem;
    max-width: 80%;
    justify-self: center;
}

/* Article 
------------------------*/
article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: rgb(255, 198, 91)
}

.article-pic {
    background: lightsalmon;

    height: auto;
    padding: 1rem;
    margin: 0;
}

.article-pic img {
    width: 100%;
    height: auto;
}

article h2 {

    font-size: 2.25em;
    max-width: 80%;
    margin-left: 0.5rem;
}

article p {
    font-size: 1.5rem;
    max-width: 75%;
    margin-left: 0.5rem;

}

/* Footer
-----------------------*/
footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: 2px solid black;

}


@media screen and (max-width: 500px) {
    * {
        box-sizing: border-box;

    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "picture"
            "main"
            "items"
            "sec-1"
            "sec-2"
            "article-pic"
            "article"
            "footer";
        width: 100%;
        margin: 0;

    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        max-width: 100%;
        padding: 0;
    }

    ul li {
        font-size: 2rem;
    }

    main h1 {
        font-size: 3rem;
    }

    section h3 {
        font-size: 2.5rem;
    }

    article p,
    article h2 {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}